* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f7f5;
    color: #1f2933;
}


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #073b2a;
    color: white;
}

nav h2 {
    margin: 0;
    font-size: 26px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
}

nav a:hover {
    color: #95d5b2;
}



/* Hero */

.hero {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Grand_Teton_National_Park_2010.jpg");

    background-size: cover;
    background-position: center;

    color: white;
    padding: 40px;
}


.hero h1 {
    font-size: 55px;
    margin-bottom: 15px;
}


.hero p {
    font-size: 22px;
    max-width: 600px;
}



/* Search */

.search-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}


#searchBar {

    width: 500px;
    max-width: 90%;

    padding: 18px 25px;

    border-radius: 40px;

    border: none;

    font-size: 18px;

    outline: none;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.25);

}



/* Stats */

.stats {

    display: flex;

    justify-content: center;

    gap: 30px;

    padding: 50px;

}



.stats div {

    background: white;

    width: 220px;

    padding: 25px;

    text-align: center;

    border-radius: 20px;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.1);

}



.stats h2 {

    margin: 0;

    font-size: 40px;

    color: #073b2a;

}



/* Park Cards */


main {

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(320px, 1fr));

    gap: 35px;

    padding: 50px;

}



.park-card {

    background: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow:
    0 15px 35px rgba(0,0,0,0.12);

    transition: .3s;

}



.park-card:hover {

    transform: translateY(-10px);

}



.park-card img {

    width: 100%;

    height: 240px;

    object-fit: cover;

}



.card-content {

    padding: 25px;

}



.card-content h2 {

    color:#073b2a;

}



.card-content p {

    color:#52606d;

}



button {

    background:#073b2a;

    color:white;

    border:none;

    padding:12px 20px;

    margin-top:10px;

    margin-right:8px;

    border-radius:30px;

    cursor:pointer;

}



button:hover {

    background:#40916c;

}



/* Mobile */

@media(max-width:700px){

    nav {

        flex-direction:column;

        gap:20px;

        padding:20px;

    }


    .hero h1 {

        font-size:35px;

    }


    .stats {

        flex-direction:column;

        align-items:center;

    }

}
